[submodule "static/bootstrap-datepicker"]
	path = static/bootstrap-datepicker
	url = git://github.com/eternicode/bootstrap-datepicker.git
[submodule "static/jquery-form"]
	path = static/jquery-form
	url = git://github.com/malsup/form.git
[submodule "static/bootstrap-colorpicker"]
	path = static/bootstrap-colorpicker
	url = git://github.com/edweezy/bootstrap-colorpicker.git

