Jinja2==2.6
Mako==0.7.3
MarkupSafe==0.15
Pillow==6.2.0
SQLAlchemy==0.8.0b2
Werkzeug==0.8.3
alembic==0.4.2
amqp==1.0.6
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.19
celery==3.0.13
distribute==0.6.34
gunicorn==0.17.2
httplib2==0.7.7
kombu==2.5.4
oauth2==1.5.211
python-dateutil==1.5
web.py==0.37
webassets==0.8
wsgiref==0.1.2
