{% extends 'base.html' %}

{% block content %}
    <div class="grid grid-pad">
        {% block pre_row1 %}{% endblock %}

        <div class="col-5-12">
            {% block row1_col1 %}{% endblock %}
        </div>
        <div class="col-7-12">
            {% block row1_col2 %}{% endblock %}
        </div>
    </div>
    <div class="grid grid-pad">
        {% block pre_row2 %}{% endblock %}

        <div class="col-5-12">
            {% block row2_col1 %}{% endblock %}
        </div>
        <div class="col-7-12">
            {% block row2_col2 %}{% endblock %}
        </div>
    </div>
{% endblock %}

