<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <link rel="stylesheet" href="/static/css/simplegrid.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/palette.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <script src="/static/js/logger.js"></script>
    <script src="/static/js/expenses.ui.js"></script>
    <script src="/static/js/expenses.js"></script>
    <script>
    $(function() {
        Logger.onReady($('#message'), 2000);
        ExpensesUI.onReady($('#current_month'), $('#categories'), $('#expenses'));
        ExpensesManager.onReady(Logger, 60000, ExpensesUI);

        {% block jsready %}{% endblock %}
    });
    </script>
</head>

<body>
    <div id="message" style="display:none"></div>
    {% include 'elements/logo.html' %}

    <div class="grid grid-pad">
        {% block pre_row1 %}{% endblock %}

        <div class="col-5-12">
            {% block row1_col1 %}{% endblock %}
        </div>
        <div class="col-7-12">
            {% block row1_col2 %}{% endblock %}
        </div>
    </div>
    <div class="grid grid-pad">
        {% block pre_row2 %}{% endblock %}

        <div class="col-5-12">
            {% block row2_col1 %}{% endblock %}
        </div>
        <div class="col-7-12">
            {% block row2_col2 %}{% endblock %}
        </div>
    </div>
</body>
</html>
