{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        {% block pre_row1 %}{% endblock %}

        <div class="span6">
            {% block row1_col1 %}{% endblock %}
        </div>
        <div class="span6">
            {% block row1_col2 %}{% endblock %}
        </div>
    </div>
    <div class="row-fluid">
        {% block pre_row2 %}{% endblock %}

        <div class="span6">
            {% block row2_col1 %}{% endblock %}
        </div>
        <div class="span6">
            {% block row2_col2 %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

