{% extends 'base_2row_2col.html' %}

{% block pre_row1 %}
    {% include 'elements/logo_small.html' %}
{% endblock %}

{% block js %}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="/static/js/formatter.js"></script>
<script src="/static/js/date.manager.js"></script>
<script src="/static/js/palette.manager.js"></script>
<script src="/static/js/expenses.ui.js"></script>
<script src="/static/js/expenses.manager.js"></script>
{% endblock %}

{% block jsready %}
DateManager.onReady($('#current_month'));
PaletteManager.onReady();
ExpensesUI.onReady(
        Formatter, PaletteManager, $('#current_month_overall'),
        $('#expenses'));
ExpensesManager.onReady(Logger, DateManager, ExpensesUI);
{% endblock %}

{% block row1_col1 %}
    <h3 class="title mid">Edit expense</h3>
    {% include 'expenses_edit.html' %}
{% endblock %}
