{% extends 'base_2row_2col.html' %}

{% block jsready %}
    AmountsManager.update(0);
    ExpensesManager.update(0);
{% endblock %}

{% block pre_row1 %}
    {% include 'elements/logo.html' %}
    {% include 'greetings.html' %}
{% endblock %}

{% block row1_col1 %}
    <h3>Track new</h3>
    {% include 'expenses_add.html' %}
{% endblock %}

{% block pre_row2 %}
<h2><span id="current_month"></span></h2>
{% include 'expenses_more.html' %}
<br style="clear: both" />
{% endblock %}

{% block row1_col2 %}
    <h3>Last 30 days</h3>
    <div id="days"></div>
{% endblock %}

{% block row2_col1 %}
    <h3>By date</h3>
    <div id="expenses"></div>
{% endblock %}

{% block row2_col2 %}
    <h3>By category</h3>
    <div id="categories"></div>
{% endblock %}
