<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/simplegrid.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/palette.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="/static/js/logger.js"></script>
    <script src="/static/js/expenses.ui.js"></script>
    <script src="/static/js/expenses.js"></script>
    <script>
    $(function() {
        Logger.onReady($('#message'), 2000);
        ExpensesUI.onReady($('#current_month'), $('#categories'), $('#expenses'));
        ExpensesManager.onReady(Logger, 60000, ExpensesUI);
        $('#datepicker').datepicker();
        $('#category').autocomplete({
            source: [
            {% for cat in categories %}
                "{{ cat['name'] }}",
            {% endfor %}
            ]
        });
    });
    </script>
</head>

<body>
    <h1><span id="current_month"></span> Expenses</h1>
    <div id="message" style="display:none"></div>
    <div class="grid grid-pad">
        {% if user %}
        <p><span>Welcome back, {{  user.name }}! (<a href="/logout" alt="Logout">Logout</a>)</span></p>
        {% else %}
        <p><span id="login"><a href="/login" alt="Login">Facebook login</a></span></p>
        {% endif %}

        <div class="col-5-12">
            <h2>Track new expense</h2>
            {% include 'expenses_add.html' %}

            <h2>By category</h2>
            <div id="categories"></div>
        </div>
        <div class="col-7-12">
            <h2>By date</h2>
            <div id="expenses"></div>
        </div>
    </div>
</body>
