.center {
    text-align: center;
}

.loading {
    margin-top: 30px;
    text-align: center;
}

.connect {
    display: block;
    font-size: 200%;
    text-align: center;
}

.palette {
    padding-left: 4px !important;
    padding-right: 4px !important;

    background-color: #ddd;
}

.row {
    margin-top: 30px;
}


#current_month_overall {
    color: #888;
    text-shadow: none;
}


.exp {
    width: 100%;
    padding: 5px;
    clear: both;
}

.exp_attach {
    width: 16px;
    display: inline-block;
}

.exp_amount {
    margin-left: 3%;
    display: inline-block;
    width: 15%;
}

.exp_inner {
    white-space: nowrap;
    display: inline-block;
    width: 52%;
    overflow-x: hidden;
}

.exp_category {
    display: inline-block;
    padding: 2px;
}

.exp_note {
    margin-left: 2%;
    color: #888;
    display: inline-block;
}

.exp_date {
    margin-left: 1%;
    text-align: right;
    display: inline-block;
    width: 14%;
}

.exp_edit {
    margin-left: 3%;
    display: inline-block;
}

.exp_delete {
    margin-bottom: 0px;
    margin-left: 2%;
    display: inline-block;
}

.exp:nth-child(1) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.exp + .exp {
    border-bottom: 1px solid #ddd;
}

.exp:hover {
    background-color: #f5f5f5;
}
