<div class="grid grid-pad">

    <div class="col-1-3">
        <a href="/login/google" alt="Connect with Google">
            <img src="/static/images/google_login.png" />
        </a>
        {{ openid }}
    </div>
    <div class="col-1-3">
        <a href="/login/facebook" alt="Connect with Facebook">
            <img src="/static/images/fb_login.png" />
        </a>
    </div>
    <div class="col-1-3">
        <a href="/login/twitter" alt="Connect with Twitter">
            <img src="/static/images/twitter_login.png" />
        </a>
    </div>
</div>
