body {
    font-family: arial, sans-serif;
}

h1 {
    margin-top: 20px;
    font-size: 500%;
    font-style: italic;
}

h1, h2, h3 {
    text-align: center;
    text-shadow: 2px 2px #ccc;
}

#message {
    position: fixed;
    top: 0px;
    color: #aaa;
    background-color: #333;
    text-align: center;
    width: 100%;
    font-size: 300%;
    padding: 1%;
}

.wrong {
    color: #888;
    font-size: 75%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.cat {
    width: 100%;
    font-size: 110%;
    margin-top: 3px;
}

.cat_name {
    display: inline-block;
    width: 16%;
}

.cat_amount {
    display: inline-block;
    width: 19%;
}

.cat_bar_container {
    display: inline-block;
    width: 65%;
}

.cat_bar {
    display: inline-block;
}


.exp {
    width: 100%;
    font-size: 110%;
    padding: 5px;
}

.exp_amount {
    display: inline-block;
    width: 19%;
}

.exp_category {
    display: inline-block;
}

.exp_note {
    margin-left: 1%;
    color: #555;
    font-style: italic;
    display: inline-block;
}

.exp_date {
    float: right;
    text-align: right;
    display: inline-block;
    width: 19%;
}
