body {
    font-family: arial, sans-serif;
}

h1 {
    margin-top: 20px;
    font-size: 500%;
    font-style: italic;
}

/*.grid {*/
    /*border: 1px solid grey;*/
/*}*/

.title {
    text-align: center;
    text-shadow: 2px 2px #ccc;
}

.large {
    font-size: 500%;
}

.mid-large {
    font-size: 250%;
}

.mid {
    
}

#message {
    position: fixed;
    top: 0px;
    color: #aaa;
    background-color: #333;
    text-align: center;
    width: 100%;
    font-size: 300%;
    padding: 1%;
}

.wrong {
    color: #888;
    font-size: 75%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.flash {
    background: #ffff9c;
}

.removed {
    background: #f58686;
}


.connect {
    display: block;
    font-size: 200%;
    text-align: center;
}


#days {
    height: 200px;
}


#categories {
    height: 300px;
}


.exp {
    width: 100%;
    font-size: 110%;
    padding: 5px;
}

.exp_amount {
    display: inline-block;
    width: 19%;
}

.exp_category {
    display: inline-block;
}

.exp_note {
    margin-left: 1%;
    color: #555;
    font-style: italic;
    display: inline-block;
}

.exp_date {
    float: right;
    text-align: right;
    display: inline-block;
    width: 19%;
}
