.palette {
    padding-left: 4px;
    padding-right: 4px;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    /*font-weight: bold;*/
    color: #fefefe;
    background-color: #4572A7;
}

.palette0 {
    background-color: red;
    color: white;
}

.palette1 {
    background-color: orange;
    color: white;
}

.palette2 {
    background-color: yellow;
    color: black;
}

.palette3 {
    background-color: green;
    color: white;
}

.palette4 {
    background-color: blue;
    color: white;
}

.palette5 {
    background-color: indigo;
    color: white;
}

.palette6 {
    background-color: violet;
    color: white;
}
