<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/" title="Home">{% include 'elements/logo.html' %}</a>
            <ul class="nav">
                <li class="divider-vertical"></li>
                <li><a id="exp_new" href="/expenses/add">New</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Stats
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/stats/quadrimester" alt="Stats for last quadrimester">Last Quadrimester</a></li>
                        <li><a href="/stats/year" alt="Stats for the last year">Last Year</a></li>
                        <li><a href="/stats/life" alt="Stats since the beginning">Lifetime</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if user.avatar %}
                            <img class="img" src="/{{ user.avatar }}" width="16" height="16" />
                            &nbsp;
                        {% endif %}
                        {{ user.name }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile" alt="Settings">Profile</a></li>
                        <li><a href="/deactivate" alt="Deactivate">Deactivate</a></li>
                        <li class="divider"></li>
                        <li><a href="/import" alt="Import">Import</a></li>
                        <li><a href="/export" alt="Export">Export</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout" alt="Logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

