<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Account</li>
        <li {{ 'class="active"' if current == 'profile' }}><a href="/profile">Profile</a></li>
        <li {{ 'class="active"' if current == 'deactivate' }}><a href="/deactivate">Deactivate</a></li>
        <li class="nav-header">Expenses</li>
        <li {{ 'class="active"' if current == 'import' }}><a href="/import">Import</a></li>
        <li {{ 'class="active"' if current == 'export' }}><a href="/export">Export</a></li>
    </ul>
</div>
