<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Account</li>
        <li {{ 'class="active"' if current == 'profile' }}><a href="/profile">Profile</a></li>
        {% if DEV %}
        <li {{ 'class="active"' if current == 'populate' }}><a href="/accounts/fake/populate">Populate</a></li>
        {% endif %}
        <li {{ 'class="active"' if current == 'deactivate' }}><a href="/deactivate">Deactivate</a></li>
        <li class="nav-header">Expenses</li>
        <li {{ 'class="active"' if current == 'import' }}><a href="/import">Import</a></li>
        <li {{ 'class="active"' if current == 'export' }}><a href="/export">Export</a></li>
        <li class="nav-header">Categories</li>
        <li {{ 'class="active"' if current == 'categories' }}><a href="/categories">Manage</a></li>
    </ul>
</div>
