{% macro month_navigation() %}
        <h2 class="text-center"><span id="current_month"></span></h2>
        <ul class="nav nav-pills">
            <li class="pull-left"><a id="prev_month" href="#">&laquo; Previous Month</a>
            <li class="pull-right"><a id="next_month" href="#">Next Month &raquo;</a>
        </ul>
{% endmacro %}

{% macro expenses(helpgeometry) %}
        <h3 class="text-center">By Date</h3>
        <div id="expenses">
            <div class="alert alert-info {{ helpgeometry }}" style="display: none">
                All the expenses associated with the current period are going to
                be listed here, one above the other, sorted by date.
            </div>
            <div id="expenses-inner"></div>
        </div>
{% endmacro %}

{% macro income(helpgeometry) %}
        <h3 class="text-center">Income</h3>
        <div id="in-categories">
            <div class="alert alert-info {{ helpgeometry }}" style="display: none">
                How much did you <strong>earned</strong> in the current period?
                Which category has been the most <em>profitable</em>?
            </div>
            <div class="total text-center"></div>
            <div id="in-categories-chart" class="categories-chart"
                style="min-width: 300px; height: 300px; margin: 0 auto"></div>
        </div>
{% endmacro %}

{% macro outcome(helpgeometry) %}
        <h3 class="text-center">Outcome</h3>
        <div id="out-categories">
            <div class="alert alert-info {{ helpgeometry}}" style="display: none">
                How much did you <strong>spent</strong> in the current period?
                On which category you have to work out to reduce your
                <em>costs</em>?
            </div>
            <div class="total text-center"></div>
            <div id="out-categories-chart" class="categories-chart"
                style="min-width: 300px; height: 300px; margin: 0 auto"></div>
        </div>
{% endmacro %}

{% macro days(helpgeometry) %}
            <h3 class="text-center">By Date</h3>
            <div id="days">
                <div class="alert alert-info {{ helpgeometry }}" style="display: none">
                    Have a look at how your <em>possessions</em> vary in time
                    and how your incomes and outcomes add up shaping your
                    <strong>net</strong>.
                </div>
                <div id="days-chart" style="height: 275px; margin: 0 auto"></div>
            </div>
{% endmacro %}
