{% macro expenses(helpgeometry) %}
        <h3 class="text-center">By Date</h3>
        <div id="expenses">
            <div class="alert alert-info {{ helpgeometry }}" style="display: none">
                All the tracked expenses for the current month will be listed here,
                one above the other, sorted by date.
            </div>
            <div id="expenses-inner"></div>
        </div>
{% endmacro %}

{% macro income(helpgeometry) %}
        <h3 class="text-center">Income</h3>
        <div id="in-categories">
            <div class="alert alert-info {{ helpgeometry }}" style="display: none">
                Want to know how much did you <strong>earn</strong> last
                month, category by category?  You are looking in the right
                place!  See the chart populating as as soon as you track
                expenses...
            </div>
            <div class="total text-center"></div>
            <div id="in-categories-chart" class="categories-chart" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
        </div>
{% endmacro %}

{% macro outcome(helpgeometry) %}
        <h3 class="text-center">Outcome</h3>
        <div id="out-categories">
            <div class="alert alert-info {{ helpgeometry}}" style="display: none">
                Want to know how much did you spent last month for each
                tracked category?  You are looking in the right place!
                Start adding expenses and see how charts animates...
            </div>
            <div class="total text-center"></div>
            <div id="out-categories-chart" class="categories-chart" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
        </div>
{% endmacro %}

{% macro days(helpgeometry) %}
            <h3 class="text-center">By Date</h3>
            <div id="days">
                <div class="alert alert-info {{ helpgeometry }}" style="display: none">
                    Lorem ipsum
                </div>
                <div id="days-chart" style="height: 275px; margin: 0 auto"></div>
            </div>
{% endmacro %}
