{% extends 'base.html' %}

{% block content %}
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/" title="Home">Expenses</a>

            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown">
                        {{ user.name }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/users/{{ user.id }}/edit" alt="Settings">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="/expenses/import" alt="Import">Import</a></li>
                        <li class="divider"></li>
                        <li><a href="/users/{{ user.id }}/delete" alt="Deactivate">Deactivate</a></li>
                        <li><a href="/logout" alt="Logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="page-alert" ><div id="logger" class="alert" style="display: none"></div></div>
<div class="container">
    <div class="row">
        {% block pre_row1 %}{% endblock %}

        <div class="span6">
            {% block row1_col1 %}{% endblock %}
        </div>
        <div class="span6">
            {% block row1_col2 %}{% endblock %}
        </div>
    </div>
    <div class="row">
        {% block pre_row2 %}{% endblock %}

        <div class="span6">
            {% block row2_col1 %}{% endblock %}
        </div>
        <div class="span6">
            {% block row2_col2 %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

