{% extends 'base_enhanced.html' %}

{% block container %}
<span class="spacer20"></span>
<div class="row-fluid">
    <div class="span3">
        <div class="sidebar-nav-fixed">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Account</li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/deactivate">Deactivate</a></li>
                    <li class="nav-header">Expenses</li>
                    <li><a href="/expenses/import">Import</a></li>
                    <li><a href="/expenses/export">Export</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span9">
        <div class="row-fluid">
            <div class="offset1 span7">
                {% block pane %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
