{% extends 'controls.html' %}

{% block css %}
{% assets output="assets/deactivate.%(version)s.css", "base_css" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}


{% block pane %}
<div class="alert alert-danger">
    <h4>Are you sure?</h4>
    All the your expenses tracked so far will get <strong>lost</strong> and
    you won't be able to recover them!  Think carefully before pressing the
    following button.
</div>
{% include 'deactivate.html' %}
{% endblock %}


{% block js %}
{% assets output="assets/deactivate.%(version)s.js", "base_js", "users_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}


{% block jsready %}
ExpensesUI.onReady(
        Formatter, PaletteManager, $('#current_month_overall'), $('#expenses'));
ExpensesManager.onReady(Logger, ExpensesUI);
UsersManager.onReady(Logger);
{% endblock %}
