{% extends 'base_2row_2col.html' %}

{% block js %}
<script src="/static/js/formatter.js"></script>
<script src="/static/js/expenses.manager.js"></script>
{% endblock %}

{% block jsready %}
ExpensesManager.onReady(Logger);
{% endblock %}

{% block row1_col1 %}
    <h3 class="center">Export expenses</h3>
    <div>
        <div class="alert alert-info">
            Choose in which format to download all the expenses tracked so
            far.<br/>
            
            Note that the following operation could take up to several seconds
            to complete and when done, the file will be downloaded
            automatically.
        </div>
    </div>
    {% include 'expenses_export.html' %}
{% endblock %}
