{% extends 'controls.html' %}

{% block css %}
{% assets output="assets/import.%(version)s.css", "base_css" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}


{% block pane %}
<div class="alert alert-info">
    While adding expenses, one per line, be careful to use
    <em>tabular</em> separators and to specify, in the following order,
    the date, amount, category and a note for the expense.
</div>
{% include 'expenses_import.html' %}
{% endblock %}


{% block js %}
{% assets output="assets/import.%(version)s.js", "base_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}


{% block jsready %}
ExpensesUI.onReady(
        Formatter, PaletteManager, $('#current_month_overall'), $('#expenses'));
ExpensesManager.onReady(Logger, ExpensesUI);
{% endblock %}
