{% extends 'controls.html' %}

{% block jsready %}
ExpensesUI.onReady(
        Formatter, PaletteManager, $('#current_month_overall'), $('#expenses'));
ExpensesManager.onReady(Logger, ExpensesUI);
RecurrencesUI.onReady(Formatter, PaletteManager, $('#recurrences'));
RecurrencesManager.onReady(Logger, RecurrencesUI);
{% endblock %}

{% block pane %}
<div class="alert alert-info">
    Choose in which format to download all the expenses tracked so
    far.<br/>
    
    Note that the following operation could take up to several seconds
    to complete and when done, the file will be downloaded
    automatically.
</div>
{% include 'expenses_export.html' %}
{% endblock %}
