{% extends 'base_2row_2col.html' %}

{% block jsready %}
ExpensesUI.onReady(
        Formatter, PaletteManager, $('#current_month_overall'), $('#expenses'));
ExpensesManager.onReady(Logger, ExpensesUI);
{% endblock %}

{% block row1_col1 %}
    <h3 class="center">Import expenses</h3>
    <div>
        <div class="alert alert-info">
            While adding expenses, one per line, be careful to use
            <em>tabular</em> separators and to specify, in the following order,
            the date, amount, category and a note for the expense.
        </div>
    </div>
    {% include 'expenses_import.html' %}
{% endblock %}
