{% extends 'controls.html' %}

{% block css %}
{% assets output="assets/export.%(version)s.css", "base_css" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}


{% block pane %}
<div class="alert alert-info">
    Choose in which format to download all the expenses tracked so
    far.<br/>
    
    Note that the following operation could take up to several seconds
    to complete and when done, the file will be downloaded
    automatically.
</div>
{% include 'expenses_export.html' %}
{% endblock %}


{% block js %}
{% assets output="assets/export.%(version)s.js", "base_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}


{% block jsready %}
ExpensesUI.onReady(
        Formatter, PaletteManager, $('#current_month_overall'), $('#expenses'));
ExpensesManager.onReady(Logger, ExpensesUI);
{% endblock %}
