{% extends 'base_2row_2col.html' %}

{% block pre_row1 %}
    {% include 'elements/logo_small.html' %}
{% endblock %}

{% block css %}
<link href="/static/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="/static/bootstrap-fileupload/css/bootstrap-fileupload.min.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/bootstrap-fileupload/js/bootstrap-fileupload.min.css"></script>
<script src="/static/js/expenses.manager.js"></script>
{% endblock %}

{% block jsready %}
$('#date').datepicker({
    autoclose: true,
});
ExpensesManager.onReady(Logger);
{% endblock %}

{% block row1_col1 %}
    <h3 class="title mid">Edit expense</h3>
    {% include 'expenses_edit.html' %}
{% endblock %}
