{% extends 'base_2row_2col.html' %}

{% block css %}
<link href="/static/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="/static/bootstrap-fileupload/css/bootstrap-fileupload.min.css" rel="stylesheet" />
<link href="/static/lightbox/css/lightbox.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/lightbox/js/lightbox.js"></script>
<script src="/static/js/history.manager.js"></script>
<script src="/static/js/manager.js"></script>
<script src="/static/js/formatter.js"></script>
<script src="/static/js/date.manager.js"></script>
<script src="/static/js/palette.manager.js"></script>
<script src="/static/js/users.manager.js"></script>
<script src="/static/js/days.ui.js"></script>
<script src="/static/js/days.manager.js"></script>
<script src="/static/js/expenses.ui.js"></script>
<script src="/static/js/expenses.manager.js"></script>
<script src="/static/js/categories.ui.js"></script>
<script src="/static/js/categories.manager.js"></script>
{% endblock %}

{% block jsready %}
DateManager.onReady($('#current_month'), {{ year }}, {{ month }});
HistoryManager.onReady(DateManager);
PaletteManager.onReady();
UsersManager.onReady(Logger);
DaysUI.onReady(Formatter, PaletteManager, $('#days'));
DaysManager.onReady(Logger, DateManager, DaysUI);
ExpensesUI.onReady(
        Formatter, PaletteManager, $('#current_month_overall'),
        $('#expenses'));
ExpensesManager.onReady(Logger, DateManager, ExpensesUI);
CategoriesUI.onReady(Formatter, PaletteManager, $('#categories'));
CategoriesManager.onReady(Logger, DateManager, CategoriesUI);
Manager.onReady(Logger, 30000);

Manager.update(function() {
    DaysManager.onUpdate();
    ExpensesManager.onUpdate();
    CategoriesManager.onUpdate();
});
Manager.monthChange(function(year, month) {
    DateManager.onMonthChange(year, month);
    HistoryManager.onMonthChange(year, month);
    PaletteManager.onMonthChange(year, month);
    ExpensesManager.onMonthChange(year, month);
    CategoriesManager.onMonthChange(year, month);
});

ExpensesManager.addSubmit(function() {
    DaysManager.onUpdate();
    CategoriesManager.onUpdate();
})
ExpensesUI.addExpense(function(exp) {
    ExpensesManager.onAddExpense(exp);
})
Manager.onUpdate(0);
{% endblock %}

{% block row1_col1 %}
    <h3 class="center">Track New</h3>
    {% include 'expenses_add.html' %}
{% endblock %}

{% block pre_row2 %}
<div class="span12">
    <button type="button" class="btn btn-link left" id="prev_month">&laquo; Previous Month</button>
    <button type="button" class="btn btn-link right" id="next_month">Next Month &raquo;</button>
    <h2 class="center"><span id="current_month"></span></h2>
    <div class="center"><span id="current_month_overall"></span></div>
    <br style="clear: both" />
</div>
{% endblock %}

{% block row1_col2 %}
    <h3 class="center">Last 30 Days</h3>
    <div id="days">
        <div class="alert alert-info" style="display: none">
            As soon as you start adding expenses, this space will be replaced
            with a chart showing how much you have spent, on a day by day basis
            in the last 30 days
        </div>
        <div id="days-chart"></div>
    </div>
{% endblock %}

{% block row2_col1 %}
    <h3 class="center">By Date</h3>
    <div id="expenses">
        <div class="alert alert-info" style="display: none">
            All the tracked expenses for the current month will be listed here,
            one above the other, sorted by date.
        </div>
        <div id="expenses-inner"></div>
    </div>
{% endblock %}

{% block row2_col2 %}
    <h3 class="center">Summary</h3>
    <div id="categories">
        <div class="alert alert-info" style="display: none">
            Want to know how much did you spent in the current month for each
            expense category?  You are looking in the right place!  See the
            chart populating as as soon as you track expenses...
        </div>
        <div id="categories-chart"></div>
    </div>
{% endblock %}
