{% extends 'base_2col.html' %}

{% block css %}
<link href="/static/lightbox/css/lightbox.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/highcharts/js/highcharts.js"></script>
<script src="/static/lightbox/js/lightbox.js"></script>
<script src="/static/js/history.manager.js"></script>
<script src="/static/js/manager.js"></script>
<script src="/static/js/date.manager.js"></script>
<script src="/static/js/users.manager.js"></script>
<script src="/static/js/params.manager.js"></script>
<script src="/static/js/categories.ui.js"></script>
<script src="/static/js/categories.manager.js"></script>
{% endblock %}

{% block jsready %}
PaletteManager.onReady(Logger, function() {
    DateManager.onReady($('#current_month'), {{ year }}, {{ month }});
    HistoryManager.onReady(DateManager);
    UsersManager.onReady(Logger);
    ExpensesUI.onReady(
            Formatter, PaletteManager, $('#current_month_overall'),
            $('#expenses'));
    ExpensesManager.onReady(Logger, ExpensesUI, DateManager);
    RecurrencesUI.onReady(Formatter, PaletteManager, $('#recurrences'));
    RecurrencesManager.onReady(Logger, RecurrencesUI);
    CategoriesUI.onReady(Formatter, PaletteManager, $('#categories'));
    CategoriesManager.onReady(Logger, CategoriesUI, ParamsManager(DateManager, CategoriesUI, 'period'));
    Manager.onReady(Logger, DateManager, 30000);

    Manager.update(function() {
        ExpensesManager.onUpdate();
        CategoriesManager.onUpdate();
    });
    Manager.monthChange(function(year, month) {
        DateManager.onMonthChange(year, month);
        HistoryManager.onMonthChange(year, month);
        ExpensesManager.onMonthChange(year, month);
        CategoriesManager.onMonthChange(year, month);
    });

    ExpensesManager.addSubmit(function() {
        ExpensesManager.onUpdate();
        CategoriesManager.onUpdate();
    })
    ExpensesUI.addExpense(function(exp) {
        ExpensesManager.onAddExpense(exp);
    })
    Manager.onUpdate(0);
});
{% endblock %}

{% block pre_row1 %}
<div class="row-fluid">
    <div class="span12">
        <h2 class="center"><span id="current_month"></span></h2>
        <div class="center"><span id="current_month_overall"></span></div>
        <ul class="nav nav-pills">
            <li class="pull-left"><a id="prev_month" href="#">&laquo; Previous Month</a>
            <li class="pull-right"><a id="next_month" href="#">Next Month &raquo;</a>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 pull-right">
        <h3 class="center">Summary</h3>
        <div id="categories">
            <div class="alert alert-info" style="display: none">
                Want to know how much did you spent in the current month for each
                expense category?  You are looking in the right place!  See the
                chart populating as as soon as you track expenses...
            </div>
            <div id="categories-chart" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="span6">
        <h3 class="center">By Date</h3>
        <div id="expenses">
            <div class="alert alert-info" style="display: none">
                All the tracked expenses for the current month will be listed here,
                one above the other, sorted by date.
            </div>
            <div id="expenses-inner"></div>
        </div>
    </div>
</div>
{% endblock %}

