{% extends 'base.html' %}


{% block css %}
{% assets filters="cssrewrite", output="assets/info.%(version)s.css", "base_css" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}


{% block content %}
<header class="hero-unit">
    <div class="container-fluid">
        <h1>Expenses</h1>
        <p>Keeping track of your expenses has never been so easier:
        <strong>amount</strong>, <strong>date</strong> and
        a <strong>category</strong>, this is all you need to archive expenses.
        However, for those of you interested in cleaning up all your closets
        full of receipts, you can even link an image to an expense and review it
        or print it if necessary.</p>

        <p>Use charts to visually keep track of how the amounts spent in the
        last 30 days, or to takle the category that will make you
        <em>poor</em>.</p>

        <p><strong>Expenses</strong> is really simple to use:  just click on one
        of the following links, fill the information about your user, and start
        tracking stuff!</p>
    </div>
    <h2 class="text-center">Try it!</h2>
    {% include 'elements/login.html' %}
</header>
{% endblock %}


{% block js %}
{% assets output="assets/info.%(version)s.js", "base_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
