{% extends 'base_enhanced.html' %}

{% block css %}
<link href="/static/lightbox/css/lightbox.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/highcharts/js/highcharts.js"></script>
<script src="/static/js/date.manager.js"></script>
<script src="/static/js/params.manager.js"></script>
<script src="/static/js/users.manager.js"></script>
<script src="/static/js/days.ui.js"></script>
<script src="/static/js/days.manager.js"></script>
<script src="/static/js/categories.ui.js"></script>
<script src="/static/js/categories.manager.js"></script>
{% endblock %}

{% block jsready %}
PaletteManager.onReady(Logger, function() {
    var InCategoriesUI = CategoriesUI();
    var OutCategoriesUI = CategoriesUI();

    DateManager.onReady($('#current_month'), {{ year }}, {{ month }});
    ParamsManager.onReady(DateManager);
    UsersManager.onReady(Logger);
    ExpensesUI.onReady(
            Formatter, PaletteManager, $('#current_month_overall'),
            $('#expenses'));
    ExpensesManager.onReady(Logger, ExpensesUI, DateManager);
    DaysUI.onReady(Formatter, PaletteManager, $('#days'));
    DaysManager.onReady(Logger, DaysUI, ParamsManager.statsDays('{{ current }}', {{ bins }}));
    OutCategoriesUI.onReady(Formatter, PaletteManager, $('#out-categories'));
    InCategoriesUI.onReady(Formatter, PaletteManager, $('#in-categories'));
    CategoriesManager.onReady(Logger, ParamsManager.statsCategories('{{ current }}'));

    CategoriesManager.newData(function(data) {
        InCategoriesUI.onNewData(
            _.map(_.filter(data.stats.categories, IncomeNotNull), function(c) {
                return $.extend({amount: -c.income}, c);
            }));
        OutCategoriesUI.onNewData(
            _.map(_.filter(data.stats.categories, OutcomeNotNull), function(c) {
                return $.extend({amount: c.outcome}, c);
            }));
    });

    DaysManager.onUpdate();
    CategoriesManager.onUpdate();
});
{% endblock %}

{% block container %}
<span class="spacer20"></span>
<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header">Stats</li>
                <li {{ 'class="active"' if current == 'quadrimester' }}><a href="/stats/quadrimester ">Last Quadrimester</a></li>
                <li {{ 'class="active"' if current == 'year' }}><a href="/stats/year">Last Year</a></li>
                <li {{ 'class="active"' if current == 'life' }}><a href="/stats/life">Lifetime</a></li>
            </ul>
        </div>
    </div>
    <div class="offset1 span7">
        {% import '_widgethelpers.html' as widgets %}
        <div class="row-fluid">
            {{ widgets.days('offset3 span6') }}
        </div>
        <span class="spacer20"></span>
        <div class="row-fluid">
            <div class="span6">
                {{ widgets.income() }}
            </div>
            <div class="span6">
                {{ widgets.outcome() }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
