{% extends 'base_2col.html' %}

{% block css %}
<link href="/static/lightbox/css/lightbox.css" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="/static/highcharts/js/highcharts.js"></script>
<script src="/static/js/manager.js"></script>
<script src="/static/js/date.manager.js"></script>
<script src="/static/js/users.manager.js"></script>
<script src="/static/js/days.ui.js"></script>
<script src="/static/js/days.manager.js"></script>
{% endblock %}

{% block jsready %}
PaletteManager.onReady(Logger, function() {
    DateManager.onReady($('#current_month'), {{ year }}, {{ month }});
    UsersManager.onReady(Logger);
    ExpensesUI.onReady(
            Formatter, PaletteManager, $('#current_month_overall'),
            $('#expenses'));
    ExpensesManager.onReady(Logger, ExpensesUI, DateManager);
    DaysUI.onReady(Formatter, PaletteManager, $('#days'));
    DaysManager.onReady(Logger, DateManager, DaysUI);
    Manager.onReady(Logger, DateManager, 30000);

    Manager.update(function() {
        DaysManager.onUpdate();
    });

    ExpensesManager.addSubmit(function() {
        ExpensesManager.onUpdate();
    })

    Manager.onUpdate(0);
});
{% endblock %}

{% block pre_row1 %}
<div class="row-fluid">
    <h2 class="center">Last 30 Days</h2>
</div>

<div class="row-fluid">
    <h3 class="center">Amounts By Date</h3>
    <div id="days">
        <div class="alert alert-info" style="display: none">
            As soon as you start adding expenses, this space will be replaced
            with a chart showing how much you have spent, on a day by day basis
            in the last 30 days
        </div>
        <div id="days-chart" style="height: 275px; margin: 0 auto"></div>
    </div>
</div>
<div class="row-fluid">
    <h3 class="center">Summary</h3>
    <div id="categories">
        <div class="alert alert-info" style="display: none">
            Want to know how much did you spent in the current month for each
            expense category?  You are looking in the right place!  See the
            chart populating as as soon as you track expenses...
        </div>
        <div id="categories-chart" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
    </div>
</div>
{% endblock %}
