{% extends 'base_2row_2col.html' %}

{% block js %}
<script src="/static/js/users.manager.js"></script>
{% endblock %}

{% block jsready %}
UsersManager.onReady(Logger);
{% endblock %}

{% block row1_col1 %}
    <h3 class="center">Deactivate account</h3>
    <div class="alert alert-danger">
        <h4>Are you sure?</h4>
        All the your expenses tracked so far will get <strong>lost</strong> and
        you won't be able to recover them!  Think carefully before pressing the
        following button.
    </div>
    {% include 'users_delete.html' %}
{% endblock %}
