{% macro render_field(field) %}
    {% if field.is_hidden() %}
        {{ field.render() }}
    {% else %}
        <div class="control-group">
            <label class="control-label" for="{{ field.id }}">{{ field.description }}</label>
            <div class="controls">
                {{ field.render() }}
                {% if field.post %}
                    <span class="help-block small"><small>{{ field.post }}</small></span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
