<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Expenses</title>
    <link id="favicon" rel="icon" type="image/png" href="/static/images/EXPENSES.2.1_favicon.png">
    {% block css %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    {% block js %}{% endblock %}
    <script>
    $(function() {
        Logger.onReady($('#logger'), 2000);

        {% block jsready %}{% endblock %}
    });
    </script>
</body>
</html>
