{% extends 'controls.html' %}


{% block css %}
{% assets filters="cssrewrite", output="assets/profile.%(version)s.css", "base_css",
        "lightbox/css/lightbox.css" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}


{% block pane %}
{% include 'users_avatar.html' %}
<hr />
{% include 'users_edit.html' %}
<hr />
{% include 'users_connect.html' %}
<hr />
<div class="control-group form-horizontal">
    <div class="controls">
        <button id="submit" type="submit" class="btn btn-primary">Done</button>
    </div>
</div>
{% endblock %}


{% block js %}
{% assets output="assets/profile.%(version)s.js", "base_js", "users_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}


{% block jsready %}
ExpensesUI.onReady(
        Formatter, PaletteManager, $('#current_month_overall'),
        $('#expenses'));
ExpensesManager.onReady(Logger, ExpensesUI);
UsersManager.onReady(Logger, UsersUI);
{% endblock %}

